/* Estilos para submenús con hover */
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-submenu-content {
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: -1px;
    margin-left: -1px;
    display: none;
  }
  
  /* Hover para desktop */
  @media (min-width: 992px) {
    .dropdown-submenu:hover > .dropdown-submenu-content {
      display: block;
    }
    
    .dropdown-submenu:hover > .fa-angle-right {
      transform: rotate(90deg);
    }
    
    .dropdown-submenu .dropdown-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  /* Transición suave */
  .dropdown-submenu .fa-angle-right {
    transition: transform 0.3s ease;
  }
  
  /* Ajustes para móvil */
  @media (max-width: 991.98px) {
    .dropdown-submenu .dropdown-submenu-content {
      position: static;
      margin-left: 15px;
      border-left: 2px solid #e9ecef;
    }
    
    .dropdown-submenu .dropdown-toggle::after {
      transform: rotate(-90deg);
    }
  }